streamlit
langchain
langchain-community
langchain-core
langgraph
langchain-groq
langchain-huggingface
langchain-experimental
sentence-transformers
faiss-cpu==1.14.3
torch
torchvision
arxiv
requests
beautifulsoup4
python-dotenv
pypdf
wikipedia